@model ElectionTool.Models.AllSeatsBundestagViewModel

@{
    ViewBag.Title = "Sitzverteilung des Bundestags";
    ViewBag.Description = "Verteilung der Sitze im Bundestag";
}

<div class="row margin-right-md">
    <center class="margin-top-md"><canvas id="bundestagChart" width="300" height="300"></canvas></center>

    <script type="text/javascript">
        var pieData = [];

        var dataString = "@Model.DiagrammInfo";

        var parts = dataString.split('$');

        for (var i = 0; i < parts.length; i++) {
            var info = parts[i].split('-');

            pieData.push({
                value: info[1],
                color: "" + info[2],
                highlight: "" + info[3],
                label: ("" + info[0]).replace("&#220;", "Ü")
            });
        }

        var pieOptions = {
            segmentShowStroke: true,
            animateScale: true,
            animationSteps: 1
        }
        var countries = document.getElementById("bundestagChart").getContext("2d");
        new Chart(countries).Pie(pieData, pieOptions);
    </script>

    <table class="table table-striped datatable-simple padding-top-lg">
        <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.SeatsDistribution.First().Party.Name)</th>
            <th class="text-right">Sitze</th>
            <th class="text-right">@Html.DisplayNameFor(model => model.SeatsDistribution.First().Seats.VotesPercent)</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var entry in Model.SeatsDistribution)
        {
            <tr>
                <td>
                    <div class="col-md-2">
                        <div class="rectangle @string.Format("party{0}", entry.Party.Id)"></div>
                    </div>
                    <div class="col-md-10">
                        @Html.DisplayFor(_ => entry.Party.Name)
                    </div>
                </td>
                <td class="text-right">@Html.DisplayFor(_ => entry.Seats.Amount)</td>
                <td class="text-right">@Html.DisplayFor(_ => entry.Seats.VotesPercent) %</td>
            </tr>
        }
        </tbody>
    </table>
</div>
