@model ElectionTool.Models.AllSeatsBundestagViewModel

@{
    ViewBag.Title = "Sitzverteilung des Bundestags";
    ViewBag.Description = "Verteilung der Sitze im Bundestag";
}

<div class="row margin-right-md">
    <table id="seatsTable" class="table table-striped">
        <thead>
        <tr>
            <th></th>
            <th>@Html.DisplayNameFor(model => model.SeatsDistribution.First().Party.Name)</th>
            <th class="text-right">Sitze</th>
            <th class="text-right">@Html.DisplayNameFor(model => model.SeatsDistribution.First().Seats.VotesPercent)</th>
            <th class="text-right">@Html.DisplayNameFor(model => model.SeatsDistribution.First().Seats.LastVotesPercent)</th>
        </tr>
        </thead>
        <tbody>
            @foreach (var entry in Model.SeatsDistribution)
            {
                <tr>
                    <td>
                        <div class="rectangle @string.Format("party{0}", entry.Party.Id)"></div>
                    </td>
                    <td>@Html.DisplayFor(_ => entry.Party.Name)</td>
                    <td class="text-right">@Html.DisplayFor(_ => entry.Seats.Amount)</td>
                    <td class="text-right">@Html.DisplayFor(_ => entry.Seats.VotesPercent)</td>
                    <td class="text-right">@Html.DisplayFor(_ => entry.Seats.LastVotesPercent)</td>
                </tr>
            }
        </tbody>
    </table>
</div>
