@model ElectionTool.Models.WinnerWahlkreiseViewModel
           
@{
    ViewBag.Title = "Wahlkreissieger";
    ViewBag.Description = "Sieger der einzelnen Wahlkreise";
}

<div class="row margin-right-md">
    <table class="table table-striped datatable-filter display">
        <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Bundeslands.First().Bundesland)</th>
            <th>@Html.DisplayNameFor(model => model.Bundeslands.First().Wahlkreise)</th>
            <th>Erststimme</th>
            <th>Zweitstimme</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var bLand in Model.Bundeslands)
        {
            foreach (var wk in bLand.Wahlkreise)
            {
                <tr>
                    <td>
                        @Html.Partial("Bundesland", bLand.Bundesland)
                    </td>
                    <td>@Html.ActionLink(wk.Name, "Overview", "Wahlkreis", new {electionId = Model.ElectionId, wahlkreisId = wk.Id}, null)</td>
                    <td data-order="@wk.FirstVotes.Person.Lastname @wk.FirstVotes.Person.Firstname"
                        data-filter="Erststimme=@wk.FirstVotes.Party.Name">
                        @Html.Partial("PersonWithParty", wk.FirstVotes)
                    </td>
                    <td data-filter="Zweitstimme=@wk.SecondVotes.Name">
                        @Html.Partial("Party", wk.SecondVotes)
                    </td>
                </tr>
            }
        }
        </tbody>
    </table>
</div>
