@model ElectionTool.Models.WinnerWahlkreiseViewModel
           
@{
    ViewBag.Title = "Wahlkreissieger";
    ViewBag.Description = "Sieger der einzelnen Wahlkreise";
}

<div class="row margin-right-md">
    <table id="winnerTable" class="table table-striped display">
        <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Bundeslands)</th>
            <th>@Html.DisplayNameFor(model => model.Bundeslands.First().Wahlkreise)</th>
            <th>Erststimme</th>
            <th class="no-sort"></th>
            <th>Zweitstimme</th>
            <th class="no-sort"></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var bLand in Model.Bundeslands)
        {
            foreach (var wk in bLand.Wahlkreise)
            {
                <tr>
                    <td>@Html.DisplayFor(_ => bLand.Bundesland.Name)</td>
                    <td>@Html.ActionLink(wk.Name, "Overview", "Wahlkreis", new { electionId = Model.ElectionId, wahlkreisId = wk.Id }, new { style = "color: #333;" })</td>
                    <td data-order="@wk.FirstVotes.Person.Lastname @wk.FirstVotes.Person.Firstname">
                        @Html.DisplayFor(_ => wk.FirstVotes.Person.Fullname) (@Html.DisplayFor(_ => wk.FirstVotes.Party.Name))
                    </td>
                    <td data-filter="Erststimme=@wk.FirstVotes.Party.Name">
                        <div class="rectangle @string.Format("party{0}",wk.FirstVotes.Party.Id)"></div>
                    </td>
                    <td class="text-right">@Html.DisplayFor(_ => wk.SecondVotes.Name)</td>
                    <td data-filter="Zweitstimme=@wk.SecondVotes.Name">
                        <div class="rectangle @string.Format("party{0}",wk.SecondVotes.Id)"></div>
                    </td>
                </tr>
            }
        }
        </tbody>
    </table>
</div>
