@using ElectionTool.Controllers
@{
    var electionId = 0;
    
    var url = HttpContext.Current.Request.Url.AbsolutePath;
    var queryString = HttpContext.Current.Request.QueryString;

    var queryString2009 = "";
    var queryString2013 = "";

    for (var i = 0; i < queryString.Count; i++)
    {
        var key = queryString.AllKeys[i];
        var value = queryString.Get(i);

        if (key.Equals("electionId"))
        {
            int.TryParse(value, out electionId);
            
            queryString2009 = string.Format("{0}&{1}=1", queryString2009, key);
            queryString2013 = string.Format("{0}&{1}=2", queryString2013, key);
        }
        else
        {
            var add = string.Format("{0}={1}", key, value);
            queryString2009 = string.Format("{0}&{1}", queryString2009, add);
            queryString2013 = string.Format("{0}&{1}", queryString2013, add);
        }
    }

    queryString2009 = queryString2009.Length > 0 ? queryString2009.Substring(1) : queryString2009;
    queryString2013 = queryString2013.Length > 0 ? queryString2013.Substring(1) : queryString2013;

    var link2009 = string.Format("{0}?{1}", url, queryString2009);
    var link2013 = string.Format("{0}?{1}", url, queryString2013);

    var isVote = url.StartsWith("/Vote/");
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ElectionTool</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Election-Tool", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        @if (!isVote)
        {
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href=@link2009 class="navbar-brand">2009</a>
                    </li>
                    <li>
                        <a href=@link2013 class="navbar-brand">2013</a>
                    </li>
                </ul>
            </div>
        }
    </div>
</div>

<!-- Content -->
<div class="container">
    <div class="row">
        @if (!isVote)
        {
            <div class="col-md-3">
                <ol id="sidebar" class="nav nav-stacked affix well">
                    <li>@Html.ActionLink("1. Sitzverteilung im Bundestag", "Index", "SeatsBundestag", new {electionId = @electionId}, null)</li>
                    <li>@Html.ActionLink("2. Mitglieder im Bundestag", "Index", "MemberBundestag", new {electionId = @electionId}, null)</li>
                    <li>@Html.ActionLink("3. Wahlkreise", "Index", "Wahlkreis", new {electionId = @electionId}, null)</li>
                    <li>@Html.ActionLink("4. Wahlkreissieger", "Index", "Winner", new {electionId = @electionId}, null)</li>
                    <li>@Html.ActionLink("5. Überhangmandate", "Index", "Ueberhangmandate", new {electionId = @electionId}, null)</li>
                    <li>@Html.ActionLink("6. Knappste Sieger", "Index", "ClosestWinner", new {electionId = @electionId}, null)</li>
                </ol>
            </div>

            <div class="col-md-9">
                <div class="container body-content well">
                    <div style="padding-left: 20px;">
                        <div class="row">
                            <div class="description-analysis">@ViewBag.Description</div>
                        </div>

                        @RenderBody()
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="col-md-12">
                <div class="container body-content well">
                    <div style="padding-left: 20px;">
                        <div class="row">
                            <div class="description-vote">@ViewBag.Description</div>
                        </div>

                        @RenderBody()
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<hr />
<footer></footer>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>
