@using ElectionTool.Controllers
@{
    var electionId = 0;
    
    var url = HttpContext.Current.Request.Url.AbsolutePath;
    var queryString = HttpContext.Current.Request.QueryString;

    var queryString2009 = "";
    var queryString2013 = "";

    for (var i = 0; i < queryString.Count; i++)
    {
        var key = queryString.AllKeys[i];
        var value = queryString.Get(i);

        if (key.Equals("electionId"))
        {
            int.TryParse(value, out electionId);
            
            queryString2009 = string.Format("{0}&{1}=1", queryString2009, key);
            queryString2013 = string.Format("{0}&{1}=2", queryString2013, key);
        }
        else
        {
            var add = string.Format("{0}={1}", key, value);
            queryString2009 = string.Format("{0}&{1}", queryString2009, add);
            queryString2013 = string.Format("{0}&{1}", queryString2013, add);
        }
    }

    queryString2009 = queryString2009.Substring(1);
    queryString2013 = queryString2013.Substring(1);

    var link2009 = string.Format("{0}?{1}", url, queryString2009);
    var link2013 = string.Format("{0}?{1}", url, queryString2013);
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ElectionTool</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
<div class="container body-content">
    <div class="row" style="background-color: lightsalmon;">
        <span>Wahlanalyse</span>
        <span style="float: right; text-align: right;">
            <a href=@link2009>
                2009
            </a>
        </span>
        <span style="float: right; text-align: right;">
            <a href=@link2013>
                2013
            </a>
        </span>
    </div>

    <div class="col-md-4" style="background-color: lightblue;">
        <div>
            @Html.ActionLink("1. Sitzverteilung im Bundestag", "Index", "SeatsBundestag", new { electionId = @electionId}, null)
        </div>
        <div>
            @Html.ActionLink("2. Mitglieder im Bundestag", "Index", "MemberBundestag", new {electionId = @electionId}, null)
        </div>
        <div>
            @Html.ActionLink("3. Wahlkreise", "Index", "Wahlkreis", new { electionId = @electionId }, null)
        </div>
        <div>
            @Html.ActionLink("4. Wahlkreissieger", "Index", "Winner", new { electionId = @electionId }, null)
        </div>
        <div>
            @Html.ActionLink("5. Überhangmandate", "Index", "Ueberhangmandate", new {electionId = @electionId}, null)
        </div>
        <div>
            @Html.ActionLink("6. Knappste Sieger", "Index", "ClosestWinner", new { electionId = @electionId }, null)
        </div>
    </div>

    <div class="col-md-8">
        <div class="row">
            <h2>@ViewBag.Description</h2>
        </div>

        @RenderBody()
    </div>
    <hr/>
    <footer>

    </footer>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>
