@model ElectionTool.Models.WahlkreisOverviewViewModel

@{
    ViewBag.Title = Model.WahlkreisName;
    ViewBag.Description = string.Format("Wahlkreis: {0}", Model.WahlkreisName);
}

<div class="row">
    <div>
        <span>Direktkandidat:</span>
        <span>@string.Format("{0} ({1})", Model.Candidate.Person.Fullname, Model.Candidate.Party.Name)</span>
    </div>
    <div>
        <span>Wahlbeteiligung:</span>
        <span>@Model.ParticipationPercent %</span>
    </div>
</div>

<div class="row">
    <div>Erststimmen:</div>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Partei</th>
            <th>Anzahl</th>
            <th>Prozent</th>
            <th>Zuletzt</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var entry in Model.FirstVotes)
        {
            <tr>
                <td>@entry.Candidate.Person.Fullname</td>
                <td>@entry.Candidate.Party.Name</td>
                <td>@entry.Vote.Amount</td>
                <td>@entry.Vote.VotesPercent</td>
                <td>@entry.Vote.LastVotesPercent</td>
            </tr>
        }
        </tbody>
    </table>
</div>

<div class="row">
    <div>Zweitstimmen:</div>
    <table>
        <thead>
            <tr>
                <th>Partei</th>
                <th>Anzahl</th>
                <th>Prozent</th>
                <th>Zuletzt</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var entry in Model.SecondVotes)
            {
                <tr>
                    <td>@entry.Party.Name</td>
                    <td>@entry.Vote.Amount</td>
                    <td>@entry.Vote.VotesPercent</td>
                    <td>@entry.Vote.LastVotesPercent</td>
                </tr>
            }
        </tbody>
    </table>
</div>
