@model ElectionTool.Models.UeberhangmandatViewModel
           
@{
    ViewBag.Title = "Überhangmandate";
    ViewBag.Description = "Anzahl der Überhangmandate";
}

<div class="row margin-right-md">
    <table class="table table-striped datatable-filter">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Mandate.First().Bundesland.Name)</th>
                <th>@Html.DisplayNameFor(model => model.Mandate.First().Party.Name)</th>
                <th class="text-right">@Html.DisplayNameFor(model => model.Mandate.First().Amount)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var entry in Model.Mandate)
            {
                <tr>
                    <td>
                        @Html.Partial("Bundesland", entry.Bundesland)
                    </td>
                    <td>
                        @Html.Partial("Party", entry.Party)
                    </td>
                    <td class="text-right">@Html.DisplayFor(_ => entry.Amount)</td>
                </tr>
            }
        </tbody>
    </table>
</div>
