@model ElectionTool.Models.ClosestWinnerForPartyViewModel

@{
    var isAllWinner = Model.ClosestWinner.All(m => m.IsWinner);

    ViewBag.Title = "Knappste Sieger";
    ViewBag.Description = string.Format("Knappste {0}: {1}", isAllWinner ? "Sieger" : "Verlierer", Model.Party.Name);

}

<div class="row margin-right-md">
    <div class="table-responsive">
        <table class="table table-striped datatable-simple">
            <thead>
            <tr>
                <th>Name</th>
                <th>Wahlkreis</th>
                <th class="text-right">
                    @if (isAllWinner)
                    {
                        <span>Vorsprung</span>
                    }
                    else
                    {
                        <span>Rückstand</span>
                    }
                </th>
            </tr>
            </thead>
            <tbody>
            @foreach (var entry in Model.ClosestWinner)
            {
                <tr>
                    <td data-order="@entry.Person.Lastname @entry.Person.Firstname">@entry.Person.Fullname</td>
                    <td>@entry.Wahlkreis</td>
                    <td class="text-right">@entry.Difference</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>
