@model ElectionTool.Models.ClosestWinnerForPartyViewModel

@{
    var isAllWinner = Model.ClosestWinner.All(m => m.IsWinner);

    ViewBag.Title = "Knappste Sieger";
    ViewBag.Description = string.Format("Knappste {0}: {1}", isAllWinner ? "Sieger" : "Verlierer", Model.Party.Name);

}

<div class="row margin-right-md">
    <div class="table-responsive">
        <table class="table table-striped datatable-simple">
            <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.ClosestWinner.First().Person.Fullname)</th>
                <th>@Html.DisplayNameFor(model => model.ClosestWinner.First().Wahlkreis.Name)</th>
                <th class="text-right">
                    @if (isAllWinner)
                    {
                        <span>Vorsprung</span>
                    }
                    else
                    {
                        <span>Rückstand</span>
                    }
                </th>
            </tr>
            </thead>
            <tbody>
            @foreach (var entry in Model.ClosestWinner)
            {
                <tr>
                    <td data-order="@entry.Person.Lastname @entry.Person.Firstname">@Html.DisplayFor(_ => entry.Person.Fullname)</td>
                    <td>@Html.ActionLink(entry.Wahlkreis.Name, "Overview", "Wahlkreis", new { electionId = Model.ElectionId, wahlkreisId = entry.Wahlkreis.Id }, null)</td>
                    <td class="text-right">@Html.DisplayFor(_ => entry.Difference)</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>
